// Settings is already a sidebar link on desktop.
@media @desktop-up {
  .Pallet--withSidebar .UserPage-nav .item-settings {
    display: none;
  }
}

.PostsUserPage-discussion {
  font-weight: 600;
}

.PostsUserPage-list > li {
  border-color: var(--pallet-border-strong);
}

.UserPage .NotificationGrid {
  width: 100%;
}
